.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-normal);
  color: var(--gray900);
  background: var(--gray100);
  padding: 8px 16px;
  border-radius: 4px;
  border: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: color .2s ease, background .2s ease;
}

.button:hover {
  background: var(--gray200);
  transition: background .2s ease;
}

.button:active {
  color: var(--gray900);
  transition: color .2s ease;
}

.label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
}

.large {
  font-size: var(--font-size-large);
}

.small {
  font-size: var(--font-size-small);
}

.xsmall {
  font-size: var(--font-size-xsmall);
}

.action,
.action:active {
  color: var(--gray50);
  background: var(--gray900);
  transition: color .2s ease, background .2s ease;
}

.action:hover {
  background: var(--gray800);
  transition: background .2s ease;
}

.danger,
.danger:active {
  color: var(--gray50);
  background: var(--red500);
  transition: color .2s ease;
}

.danger:hover {
  background: var(--red400);
}

.light,
.light:active {
  color: var(--gray900);
  background: transparent;
  transition: color .2s ease;
}

.light:hover {
  background: inherit;
}

.button .icon + * {
  margin-left: 10px;
}

.button.iconRight .icon {
  order: 1;
  margin-left: 10px;
}

.button.iconRight .icon + * {
  margin: 0;
}

.button:disabled {
  cursor: default;
  color: var(--gray500);
  background: var(--gray75);
  transition: color .2s ease, background .2s ease;
}

.button:disabled:active {
  color: var(--gray500);
  transition: color .2s ease;
}

.button:disabled:hover {
  background: var(--gray75);
  transition: background .2s ease;
}

.button.light:disabled {
  background: var(--gray50);
  transition: background .2s ease;
}
